/********************************************************************

Stylesheet: Main Stylesheet

********************************************************************/

/*********************
GENERAL STYLES
*********************/


/*********************
LINK STYLES
*********************/
a:visited {

	color: darken($primary-color, 20%); 

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		// -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

a[target="_blank"], 
a[rel="external"] {
	outline: 1px solid red; 
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5 {}

p {
	font-size: 1.188rem; // 19px 
}

/*********************
HEADER STYLES
*********************/
header, 
.breadcrumbs, 
footer {
	padding: 1rem; // 16px
	border: 1px solid #eee; 
}

.strapline {
	margin-top: 91px;
    margin-left: -83px;
    font-size: 30px;
    color: #3276AD; 
}


.categories {
	outline: 1px solid #ccc; 
}
 
/*********************
NAVIGATION STYLES
*********************/

/*********************
POSTS & CONTENT STYLES
*********************/



/*********************
COMMENT STYLES
*********************/


/*********************
SIDEBARS & ASIDES
*********************/
.submenu.is-accordion-submenu {
	margin-left: 33px; 
}

// .cat-title {
// 	list-style: none; 
// 	outline: 1px solid red; 
// }

/*********************
FOOTER STYLES
*********************/

	
/*********************
FOUNDATION STYLES
*********************/

