/********************************************************************

Stylesheet: Main Stylesheet

********************************************************************/

/*********************
GENERAL STYLES
*********************/
.label {
	padding: 5px 5px 2px 5px; 
	font-weight: bold; 
}

.menu {
	margin: 0; 
	padding: 0; 
}

hr {
	clear: both; 
	margin: 2rem 0; 
	border: 0; 
	border-top: 1px dotted; 
}

/*********************
LINK STYLES
*********************/
a:visited {

	color: darken($primary-color, 20%); 

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		// -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/* Add a external link icon */
a[target="_blank"]:after {
	font-family: "FontAwesome"; 
	content: "\f08e"; 
	display: inline-block; 
	padding-left: 5px; 
	// stop the accordion styles overwritng		
	float: none!important; 		
	right: 0!important; 		
	top: 2px!important; 
}

/* show links which are dead */
a[href="#"] {
	color: red; 
}
a[href="#"]:after {
	font-family: "FontAwesome"; 
	content: "\f057"; 
	display: inline-block; 
	color: red; 
	padding-left: 5px; 
}

/* Change the colour of telephone links */
a[href^="tel:"] {
  color: orange; 
  font-weight: bold; 
  text-decoration: none;
}
/* add a unicode telephone icon */
a[href^="tel:"]:before {
  content: "\260e";
  padding-right: 5px;
}

/* Links containing an image then text */
.caption {
	text-align: center; 

	img {
		display: block; 
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5 {}

p {
	font-size: 1.188rem; // 19px 
}

/*********************
HEADER STYLES
*********************/
header {
	margin-bottom: 30px; 
}

header, 
.breadcrumbs, 
footer {
	padding: 1rem; // 16px
	border: 1px solid #eee; 
}

.branding {

	.top-logo {
		max-width: 250px; 

		@include breakpoint(medium) {
			float: left; 
			max-width: inherit; 
		}
	}
}

.strapline {
	margin-top: 10px;
	font-size: 21px;
	color: #3276AD; 

	@include breakpoint(medium) {
		float: right; 
		margin-top: 51px; 
		margin-left: 30px; 
		font-size: 30px;
	}
}

.login {
	display: none; 
}

/*** Breadcrumbs ***/
.breadrcrumb-row {
	display: none; 
}

// Let's remove Foundation styling		
.breadcrumbs li:not(:last-child):after {		
	content: ""; 		
	margin: 0; 		
}		
// And add some to the Perch breadcrumb		
.breadcrumb-arrow {		
	padding: 0 .75rem; 		
	color: #cacaca; 		
}		
	
/*********************
accordion arrows
*********************/
.is-accordion-submenu-parent > a {
	display: block; 
}
.is-accordion-submenu-parent > a:after { 
	top: 11px;		
    right: 10px;		
    float: right;		
    position: absolute; 		
    margin-top: 0; 		
}

/* level 0 */
.is-accordion-submenu-parent > a:after {
	// see above
	// outline: 1px solid red; 
}
/* level 1 */
li ul .is-accordion-submenu-parent > a:after {
	right: 1px; 
	// outline: 1px solid blue; 
}
/* level 2 */
li ul li ul .is-accordion-submenu-parent > a:after {
	right: -11px; 
	// outline: 1px solid green; 
}

 
/*********************
NAVIGATION STYLES
*********************/
.parent-cat {		
	font-style: italic; 		
}


/*********************
MAIN CONTENT
*********************/
.small-12.large-8.large-push-4.columns {
	padding-bottom: 50px; 
	// outline: 1px solid red;
}



/*********************
SIDEBARS & ASIDES
*********************/

/*** Side bar master navigation ***/

.categories {
	border: 1px solid #eee; 

	.fa {		
		position: relative; 		
		top: -3px; 		
	}
	.vertical.menu {}

	// .vertical menu container > level [1] parent category 'Starting Up' > level [2] child UL 'Considering Starting Up'		
	ul li ul {		
		background-color: lighten($light-gray, 5%); 		
	}		
	// .vertical menu container > level [1] parent category 'Starting Up' > level [2] child UL 'Considering Starting Up' > level [3] grandchild 'Starting a business: the basics'		
	ul li ul li ul {		
		background-color: #fff; 		
	}		
	.submenu.is-accordion-submenu {		
		margin: 0; 
		padding: 10px 20px; 
		list-style: none; 
	}		
	// .vertical menu container > level [1] parent category 'Starting Up' > level [2] child UL 'Considering Starting Up' > level [3] grandchild 'Starting a business: the basics' > level [4] great-grandchild 'What to do before you start your business'		
	ul li ul li ul li ul { 		
		background-color: lighten($light-gray, 5%); 		
	}		
}
.submenu.is-accordion-submenu {
	margin-left: 33px; 
}

.service-provider {
	padding: 20px; 
}


/*********************
FOOTER STYLES
*********************/
footer {}

.sub-links {
	font-size: 15px; 
}

.copyright {
	padding: 0 15px; 
}

	
/*********************
FOUNDATION STYLES
*********************/
.resource-flash {
	padding-bottom: 25%; 
}
.resource-flash object {
	height: auto; 
}


