/********************************************************************

Stylesheet: Main Stylesheet

********************************************************************/

/*********************
GENERAL STYLES
*********************/


/*********************
LINK STYLES
*********************/
a:visited {

	color: darken($primary-color, 20%); 

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		// -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/* Add a external link icon */
a[target="_blank"]:after {
	font-family: "FontAwesome"; 
	content: "\f08e"; 
	display: inline-block; 
	padding-left: 5px; 
}

/* show links which are dead */
a[href="#"]:after {
	font-family: "FontAwesome"; 
	content: "\f057"; 
	display: inline-block; 
	color: red; 
	padding-left: 5px; 
}

/* Change the colour of telephone links */
a[href^="tel:"] {
  color: orange; 
  font-weight: bold; 
  text-decoration: none;
}
/* add a unicode telephone icon */
a[href^="tel:"]:before {
  content: "\260e";
  padding-right: 5px;
}

/* Links containing an image then text */
.caption {
	text-align: center; 

	img {
		display: block; 
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5 {}

p {
	font-size: 1.188rem; // 19px 
}

/*********************
HEADER STYLES
*********************/
header, 
.breadcrumbs, 
footer {
	padding: 1rem; // 16px
	border: 1px solid #eee; 
}

.strapline {
	margin-top: 91px;
    margin-left: -83px;
    font-size: 30px;
    color: #3276AD; 
}


.categories {
	outline: 1px solid #ccc; 
}
 
/*********************
NAVIGATION STYLES
*********************/

/*********************
POSTS & CONTENT STYLES
*********************/



/*********************
COMMENT STYLES
*********************/


/*********************
SIDEBARS & ASIDES
*********************/
.submenu.is-accordion-submenu {
	margin-left: 33px; 
}

// .cat-title {
// 	list-style: none; 
// 	outline: 1px solid red; 
// }

/*********************
FOOTER STYLES
*********************/

	
/*********************
FOUNDATION STYLES
*********************/

