/********************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

********************************************************************/

/*** Variables ***/

// Starting Up 
$startingup: #cc9999; // rose
a[href^="/starting-up"], 
a[href^="../starting-up"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $startingup; 
}

// Finance and Grants
$financegrants: #3399cc; // sea blue
a[href^="/finance-and-grants"], 
a[href^="../finance-and-grants"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $financegrants; 
}

// Tax, Payroll and Company Information
$taxpayroll: #99cc99; // light green

a[href^="/tax-payroll-and-company-information"], 
a[href^="../tax-payroll-and-company-information"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $taxpayroll; 
}

// Employment and Skills
$employment: #99cccc; // mint green 

a[href^="/employment-and-skills"], 
a[href^="../employment-and-skills"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $employment; 
}

// Workplace Health & Safety
$workplacehs: #cc99cc; // mauve

a[href^="/workplace-health-and-safety"], 
a[href^="../workplace-health-and-safety"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $workplacehs; 
}

// Environment & efficiency
$environment: #96cc4a; // juice green 

a[href^="/environment-and-efficiency"], 
a[href^="../environment-and-efficiency"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $environment; 
}

// Premises and property
$premises: #cc99cc; // juice green 

a[href^="/premises-and-property"], 
a[href^="../premises-and-property"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $premises; 
}

// Create Innovate and Protect
$createinnovate: #cccc66; // mustard green/yellow

a[href^="/create-innovate-and-protect"], 
a[href^="../create-innovate-and-protect"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $createinnovate; 
}

// IT & e-commerce
$itecommerce: #cc6666; // dusky red

a[href^="/it-and-ecommerce"], 
a[href^="../it-and-ecommerce"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $itecommerce; 
}

// Sales & Marketing
$marketing: #6666cc; // royal purple

a[href^="/sales-and-marketing"], 
a[href^="../sales-and-marketing"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $marketing; 
}

// International Trade
$inttrade: #66cccc; // sea blue

a[href^="/international-trade"], 
a[href^="../international-trade"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $inttrade; 
}

// Grow your business
$growbiz: #cccc99; // khaki

a[href^="/grow-your-business"], 
a[href^="../grow-your-business"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $growbiz; 
}

// Buy or sell a business
$buysell: #cc9999; // rose
a[href^="/buy-or-sell-a-business"], 
a[href^="../buy-or-sell-a-business"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $buysell; 
}

// For professional advisers
$proadviser: #666699; // dusky purple

a[href^="/for-professional-advisers"], 
a[href^="../for-professional-advisers"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $proadviser; 
}

// Your business sector
$yoursector: #ff9933; // orange

a[href^="/your-business-sector"], 
a[href^="../your-business-sector"] {
	padding-left: rem-calc(5px); 
	border-left: rem-calc(3px) solid $yoursector; 
}

