/********************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

********************************************************************/

/*** Variables ***/
a[href^="/starting-up"], 
a[href^="../starting-up"], 
a[href^="/finance-and-grants"], 
a[href^="../finance-and-grants"], 
a[href^="/tax-payroll-and-company-information"], 
a[href^="../tax-payroll-and-company-information"], 
a[href^="/employment-and-skills"], 
a[href^="../employment-and-skills"], 
a[href^="/workplace-health-and-safety"], 
a[href^="../workplace-health-and-safety"], 
a[href^="/environment-and-efficiency"], 
a[href^="../environment-and-efficiency"], 
a[href^="/premises-and-property"], 
a[href^="../premises-and-property"], 
a[href^="/create-innovate-and-protect"], 
a[href^="../create-innovate-and-protect"], 
a[href^="/it-and-ecommerce"], 
a[href^="../it-and-ecommerce"], 
a[href^="/sales-and-marketing"], 
a[href^="../sales-and-marketing"], 
a[href^="/international-trade"], 
a[href^="../international-trade"], 
a[href^="/grow-your-business"], 
a[href^="../grow-your-business"], 
a[href^="/buy-or-sell-a-business"], 
a[href^="../buy-or-sell-a-business"], 
a[href^="/for-professional-advisers"], 
a[href^="../for-professional-advisers"], 
a[href^="/your-business-sector"], 
a[href^="../your-business-sector"] {
	padding-left: 5px; 
	border-left-width: 3px; 
	border-left-style: solid; 
}


// Starting Up 
$startingup: #ef5350; //#cc9999; // rose
a[href^="/starting-up"], 
a[href^="../starting-up"] { border-color: $startingup; }

// Finance and Grants
$financegrants: #EC407A; //#3399cc; // sea blue
a[href^="/finance-and-grants"], 
a[href^="../finance-and-grants"] { border-color: $financegrants; }

// Tax, Payroll and Company Information
$taxpayroll: #AB47BC; //#99cc99; // light green

a[href^="/tax-payroll-and-company-information"], 
a[href^="../tax-payroll-and-company-information"] { border-color: $taxpayroll; }

// Employment and Skills
$employment: #7E57C2; //#99cccc; // mint green 

a[href^="/employment-and-skills"], 
a[href^="../employment-and-skills"] { border-color: $employment; }

// Workplace Health & Safety
$workplacehs: #5C6BC0; //#cc99cc; // mauve

a[href^="/workplace-health-and-safety"], 
a[href^="../workplace-health-and-safety"] { border-color: $workplacehs; }

// Environment & efficiency
$environment: #42A5F5; //#96cc4a; // juice green 

a[href^="/environment-and-efficiency"], 
a[href^="../environment-and-efficiency"] { border-color: $environment; }

// Premises and property
$premises: #29B6F6; //#cc99cc; // juice green 

a[href^="/premises-and-property"], 
a[href^="../premises-and-property"] { border-color: $premises; }

// Create Innovate and Protect
$createinnovate: #26C6DA; //#cccc66; // mustard green/yellow

a[href^="/create-innovate-and-protect"], 
a[href^="../create-innovate-and-protect"] { border-color: $createinnovate; }

// IT & e-commerce
$itecommerce: #26A69A; //#cc6666; // dusky red

a[href^="/it-and-ecommerce"], 
a[href^="../it-and-ecommerce"] { border-color: $itecommerce; }

// Sales & Marketing
$marketing: #26A69A; //#6666cc; // royal purple

a[href^="/sales-and-marketing"], 
a[href^="../sales-and-marketing"] { border-color: $marketing; }

// International Trade
$inttrade: #66BB6A; //#66cccc; // sea blue

a[href^="/international-trade"], 
a[href^="../international-trade"] { border-color: $inttrade; }

// Grow your business
$growbiz: #9CCC65; //#cccc99; // khaki

a[href^="/grow-your-business"], 
a[href^="../grow-your-business"] { border-color: $growbiz; }

// Buy or sell a business
$buysell: #D4E157; //#cc9999; // rose

a[href^="/buy-or-sell-a-business"], 
a[href^="../buy-or-sell-a-business"] { border-color: $buysell; }

// For professional advisers
$proadviser: #FFEE58; //#666699; // dusky purple

a[href^="/for-professional-advisers"], 
a[href^="../for-professional-advisers"] { border-color: $proadviser; }

// Your business sector
$yoursector: #FFCA28; //#ff9933; // orange

a[href^="/your-business-sector"], 
a[href^="../your-business-sector"] { border-color: $yoursector; }

// Colours left: #FFA726; #FF7043; greys/browns: #8D6E63; #BDBDBD; #78909C; 


/*********************
TOOLS
*********************/

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
// .image-replacement {
// 	text-indent: 100%;
// 	white-space: nowrap;
// 	overflow: hidden;
// }


/*********************
COLORS
*********************/


/*********************
TYPOGRAPHY
*********************/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('_assets/fonts/font-name.eot');
    	src: url('_assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('_assets/fonts/font-name.woff') format('woff'),
             url('_assets/fonts/font-name.ttf') format('truetype'),
             url('_assets/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/

//Use the best ampersand - http://simplebits.com/notebook/2008/08/14/ampersands-2/
// span.amp {
//   font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
//   font-style: italic;
// }

/*********************
CSS3 GRADIENTS.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
// @mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
// 	background-color: $to;
// 	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
// 	background-image: -webkit-linear-gradient(top, $from, $to);
// 	background-image: -moz-linear-gradient(top, $from, $to);
// 	background-image: -o-linear-gradient(top, $from, $to);
// 	background-image: linear-gradient(to bottom, $from, $to);
// }


